@import url(./reset.css); @import url(./common.css);

.header-area { position: fixed; top: 0; width: 100%; background: #fff; z-index: 1000; } 
.header-area.active::before { content:''; position: absolute; left: 0; top: 64px; background: #fff; height: 200px; width: 100%; } 
.header-area .inner { position: relative; max-width:1920px; min-width:768px; margin: 0 auto; box-sizing: border-box; padding: 0 104px 0; width: 100%; } 
.header-area .logo-area { display: flex; height: 64px; } 
.header-area .logo-area .logo { display: flex; width: 223px; align-items: center; } 
.header-area .logo-area .logo a { height: 35px; display: block; background: url(../images/sb-bg.png) no-repeat; width: 100%; background-position: -105px 0; background-size: 328px 205px; } 

.header-area .gnb-wrap { margin-left: 29px; } 
 .header-area .gnb-list { display: flex; } 
.header-area .gnb-item { display: block; padding: 0 10px; font-size: 17px; line-height: 32px; letter-spacing: -0.36px; } 
.header-area .link-gnb { display: block; line-height: 64px; } 
.header-area .gnb-wrap .sub-list { position: absolute; display: none; } 

.header-area .util-wrap { margin-left: auto; display: flex; align-items: center; } 

 .header-area .nav-box { display: none; } 
 .header-area .nav-box .button-menu { }
 .header-area .nav-box .sub-menu.on { left: 0;} 
 .header-area .nav-box .button-menu.active {background-image: url(../images/sp-bg.png); background-size: 195px 181px; background-position:  -85px -49px;
    width: 15px;
    height: 15px;
}






/*footer*/
.footer-area { background: #f2f2f2; } 
.footer-area .footer-inner { max-width:1920px; margin: 0 auto; min-width:1230px; } 
.footer-area .footer-wrap { display: flex; padding: 25px 104px 25px 98px; align-items: center; max-width: 1920px; } 
.footer-wrap .foo-logo { font-size: 18px; line-height: 32px; letter-spacing: -0.32px; color: #000; } 
.footer-wrap .link-foilcy { margin-left: 30px; font-size: 14px; line-height: 22px; letter-spacing: -0.28px; color: #909090; } 
.footer-wrap .site { margin-left: auto; position: relative; } 
.footer-wrap .site .site-wrap { position: relative; display: inline-block; width: 280px; line-height: 42px; text-align: left; border-bottom: 1px solid #000; box-sizing: border-box; } 
.footer-wrap .site .site-wrap::after { content: ''; position: absolute; top: 18px; right: 0; width: 10px; height: 6px; background: url(../images/sb-bg.png) no-repeat; background-size: 328px 205px; background-position: -122px -93px; } 
.footer-wrap .site .site-wrap.on::after { transform: rotate(180deg); } 
.footer-wrap .site .site-wrap.color { background: #fff; padding: 0 12px; } 
.footer-wrap .site .site-list { display: none; position: absolute; bottom: 42px; left: 0; right: 0; background: #fff; z-index: 1000; } 
.footer-wrap .site .site-item { font-size: 18px; line-height: 42px; } 






 
@media screen and (max-width: 1408px) {/*작은 데스크탑에서 사용될 스타일을 여기에 작성합니다. */}


@media screen and (max-width: 1200px) {/*작은 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
 .header-area .gnb-wrap { display: none; } 
 .header-area .util-wrap { display: none; } 
 .header-area .inner { padding: 0 22px; min-width: 320px; height: 60px; } 
 .header-area .logo-area .logo a { background-image: url(../images/sp-bg.png); background-size: 195px 181px; background-position: 0px 0px; width: 160px; height: 23px; } 

 .header-area .logo-area { justify-content: space-between; } 
 .header-area .nav-box { display: flex; align-items: center; } 
 .header-area .nav-box .button-menu { background-size: 195px 181px; background-position: -85px -28px; width: 20px; height: 14px; background-image: url(../images/sp-bg.png); } 

 .sub-menu { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 60px;
    right: -100%;
    background: #fff;
}
.sub-menu .sub-menu-area { }
.sub-menu .menu-list {padding: 11px 20px 9px;}
.sub-menu .menu-list .gnb-item {padding: 0; font-size: 22px; line-height: 46px; letter-spacing: -0.44px }
.sub-menu .list02 { position: relative;}
.sub-menu .list02::before { content:''; position: absolute;
    top: 0;
    left: 22px;
    right: 22px;
    height: 1px;
    background-color: #d0d0d0;}
.sub-menu .menu-list .gnb-item .sub-list{
    font-size: 15px; position: relative; display: none;
}    
.sub-menu .menu-list .btn-down::after {
    content:'';
    display: inline-block;
vertical-align: top;
margin: 20px 0 0 4px;
background-image: url(../images/sp-bg.png);
background-size: 195px 181px;
background-position: -136px -49px;
width: 10px;
height: 6px;
 }    
.sub-menu .menu-list .btn-down.on::after { 
    transform: rotate(180deg);
}

 .footer-area .footer-inner { min-width:100%; } 
 }

@media screen and (max-width: 1024px) {/* 테블릿에서 사용될 스타일을 여기에 작성합니다. */}

@media screen and (max-width: 767px) {
    /* 모바일에서 사용될 스타일을 여기에 작성합니다. */
    .footer-area .footer-wrap { padding: 25px 22px 29px;min-width: 320px; display: block;}
.footer-wrap .foo-logo { font-size: 15px; line-height: 22px; letter-spacing: -0.3px; display: inline-block; }
.footer-wrap .link-foilcy { margin-left: 21px; display: inline-block; }
.footer-wrap .site .site-wrap { display: block; width: 100%; }
.footer-wrap .site .site-item { font-size: 12px; color: #1d1d1d;}


}